* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.concerts_content {
  overflow: hidden;
}
p {
  color: white;
  margin-left: 10px;
  margin-top: 10px;
}
body {
  width: 100%;
  padding: 4rem 0;
  font-size: 14px;
}
.concerts_title {
  font-size: 20px;
  font-weight: bold;
}
.concerts_date {
  font-size: 16px;
}
.concerts_explain {
  font-size: 16px;
}
.list {
  margin-top: 20px;
  padding: 1rem 0;
  width: 100%;
  display: flex;
  transform: translate(0, 0);
}

.item {
  padding-right: 1rem;
  list-style: none;
  user-select: none;
}

.item:first-child {
  padding-left: 1rem;
}

.link {
  display: block;
  -webkit-user-drag: none;
}

.image {
  display: block;
  width: 305px;
  height: 335px;
  -webkit-user-drag: none;
}
#body::-webkit-scrollbar {
  display: none;
}

.title_area {
  width: 100%;
  height: 90px;
  background: rgb(8, 7, 18);
}
#btn_mypage {
  margin-top: 38px;
  float: right;
  margin-right: 100px;
}
.title_img {
}
.backgound {
  width: 100%;
  height: 1200px;
  background: rgba(26, 34, 50, 1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.img_back {
  width: 100%;
  height: 291px;
  background: url("../images/title_blur.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 89px;
  overflow: hidden;
}
.footer {
  width: 100%;
  height: 200px;
  background: rgb(8, 7, 18);
  opacity: 1;
  position: absolute;
  bottom: 0;
  left: 0px;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}

.v66_408 {
  width: 107px;
  height: 82px;
  background: url("../images/v66_408.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 29px;
  left: 1210px;
  overflow: hidden;
}
.name {
  color: #fff;
}

.v66_419 {
  width: 100%;
  height: 233px;
  background: url("../images/title_main.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 120px;

  overflow: hidden;
}

.img_nft {
  width: 305px;
  height: 335px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 946px;
  left: 120px;
  border: 6px solid
    linear-gradient(rgba(202, 150, 255, 1), rgba(204, 208, 0, 1));
  border-top-left-radius: 26px;
  border-top-right-radius: 26px;
  border-bottom-left-radius: 26px;
  border-bottom-right-radius: 26px;
  overflow: hidden;
}

#title_cover {
  width: 100%;
  height: 400px;
  border-radius: 15px;
  border: 5px;
  border-color: red;
}
#contents_area {
  height: 600px;
}
#concerts_title {
  margin-left: 100px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.v66_420 {
  width: 305px;
  height: 335px;
  background: url("../images/v66_420.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 946px;
  left: 120px;
  border: 6px solid
    linear-gradient(rgba(202, 150, 255, 1), rgba(204, 208, 0, 1));
  border-top-left-radius: 26px;
  border-top-right-radius: 26px;
  border-bottom-left-radius: 26px;
  border-bottom-right-radius: 26px;
  overflow: hidden;
}
.v66_421 {
  width: 305px;
  height: 335px;
  background: url("../images/v66_421.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 946px;
  left: 1012px;
  border: 6px solid
    linear-gradient(rgba(202, 150, 255, 1), rgba(204, 208, 0, 1));
  border-top-left-radius: 26px;
  border-top-right-radius: 26px;
  border-bottom-left-radius: 26px;
  border-bottom-right-radius: 26px;
  overflow: hidden;
}
.v66_422 {
  width: 305px;
  height: 335px;
  background: url("../images/v66_422.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 946px;
  left: 566px;
  border: 6px solid
    linear-gradient(rgba(202, 150, 255, 1), rgba(204, 208, 0, 1));
  border-top-left-radius: 26px;
  border-top-right-radius: 26px;
  border-bottom-left-radius: 26px;
  border-bottom-right-radius: 26px;
  overflow: hidden;
}
.v66_423 {
  width: 305px;
  height: 335px;
  background: url("../images/v66_423.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1415px;
  left: 120px;
  border: 6px solid
    linear-gradient(rgba(202, 150, 255, 1), rgba(204, 208, 0, 1));
  border-top-left-radius: 26px;
  border-top-right-radius: 26px;
  border-bottom-left-radius: 26px;
  border-bottom-right-radius: 26px;
  overflow: hidden;
}
.v66_424 {
  width: 305px;
  height: 335px;
  background: url("../images/v66_424.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1415px;
  left: 1012px;
  border: 6px solid
    linear-gradient(rgba(202, 150, 255, 1), rgba(204, 208, 0, 1));
  border-top-left-radius: 26px;
  border-top-right-radius: 26px;
  border-bottom-left-radius: 26px;
  border-bottom-right-radius: 26px;
  overflow: hidden;
}
.v66_425 {
  width: 305px;
  height: 335px;
  background: url("../images/v66_425.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1415px;
  left: 566px;
  border: 6px solid
    linear-gradient(rgba(202, 150, 255, 1), rgba(204, 208, 0, 1));
  border-top-left-radius: 26px;
  border-top-right-radius: 26px;
  border-bottom-left-radius: 26px;
  border-bottom-right-radius: 26px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v66_427 {
  width: 147px;
  height: 55px;

  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 20px;
  left: 80px;
  overflow: hidden;
}
.v66_428 {
  width: 123px;
  color: rgba(98, 228, 181, 1);
  position: absolute;
  top: 7px;
  left: 24px;
  font-family: Noto Sans;
  font-weight: Display Bold;
  font-size: 35px;
  opacity: 1;
  text-align: center;
}
.v66_429 {
  width: 58px;
  height: 19px;
  background: rgba(217, 217, 217, 0.28999999165534973);
  opacity: 1;
  position: absolute;
  top: 29px;
  left: 0px;
  transform: rotate(-30deg);
  overflow: hidden;
}
