* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.list {
  margin-top: 20px;
  padding: 1rem 0;
  width: 100%;
  display: flex;
  transform: translate(0, 0);
}

.item {
  background-color: rgba(255, 255, 0, 0.5);
  list-style: none;
  user-select: none;
  border: 10px solid yellow;
  border-radius: 24px;
  margin: 20 10 20 10;
  height: 450px;
}

.link {
  display: block;
  -webkit-user-drag: none;
}

.image {
  margin: 5px;
  border-radius: 24px;
  display: block;
  width: 240px;
  height: 420px;
  -webkit-user-drag: none;
  text-align: center;
}

p {
  color: white;
  margin: 10px;
}
body {
  width: 100%;
  font-size: 14px;
}
#body::-webkit-scrollbar {
  display: none;
}
#btn_mypage {
  margin-top: 38px;
  float: right;
  margin-right: 100px;
}
.footer {
  width: 100%;
  height: 200px;
  background: rgb(8, 7, 18);
  opacity: 1;
  position: absolute;
  bottom: 0;
  left: 0px;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.ticket_wrap {
}
.v66_427 {
  width: 147px;
  height: 55px;

  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 20px;
  left: 80px;
  overflow: hidden;
}
.v66_428 {
  width: 123px;
  color: rgba(98, 228, 181, 1);
  position: absolute;
  top: 7px;
  left: 24px;
  font-family: Noto Sans;
  font-weight: Display Bold;
  font-size: 35px;
  opacity: 1;
  text-align: center;
}
.v66_429 {
  width: 58px;
  height: 19px;
  background: rgba(217, 217, 217, 0.28999999165534973);
  opacity: 1;
  position: absolute;
  top: 29px;
  left: 0px;
  transform: rotate(-30deg);
  overflow: hidden;
}
.backgound {
  width: 100%;
  height: 1800px;
  background: rgba(26, 34, 50, 1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}

.title_area {
  width: 100%;
  height: 90px;
  background: rgb(8, 7, 18);
}
#cont_wrap {
  height: 625px;
}
#switch {
  margin-top: 20px;
}

.switch {
  font-weight: bold;
  color: rgba(202.93750405311584, 150.8750081062317, 255, 1);
  margin-left: 60px;
  font-size: 35px;
}
.gray {
  color: gray;
}
#cont_img {
  display: flex;
  flex: 1;
  overflow: auto;
  flex-direction: column;
  border-radius: 15px;
}
#out_img {
  margin: 80 40 40 40;
  position: absolute;
  width: 563px;
  height: 396px;
  flex: 1;
  display: flex;
  background: #005d96;
  box-shadow: 0px 0px 20px 10px #875bbc;
  border-radius: 15px;
}
#ticket_info {
  height: 516px;
  margin-left: 680px;
}
#cont_info {
  height: 207px;
  margin-left: 50px;
}
.info {
  color: #bd98eb;
  font-weight: bold;
  font-size: 35px;
}
.sub_info {
  font-size: 20px;
  margin-left: 20px;
}

.ticket {
  font-weight: bold;
  background-image: linear-gradient(
    0deg,
    rgba(202.93750405311584, 150.8750081062317, 255, 1) 0%,
    rgba(204.0849968791008, 208.24999898672104, 0, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  -ms-background-clip: text;
  -ms-text-fill-color: transparent;
  font-size: 40px;
  padding-top: 98px;
}
#ticket_name {
  color: white;
  font-weight: bold;
  font-size: 35px;
  margin: 10px;
}
#ticket_price {
  margin-top: 130px;
}
#price_name {
  margin-right: 200px;
}
.price {
  color: yellow;
  font-size: 35px;
  font-weight: bold;
  padding-left: 25px;
}
#ticket_button {
  margin-top: 20px;
  width: 528px;
  height: 63px;
  border-radius: 10px;
  font-size: 30px;
  color: white;
  background-image: linear-gradient(
    0deg,
    rgba(202.93750405311584, 150.8750081062317, 255, 1) 0%,
    rgba(204.0849968791008, 208.24999898672104, 0, 1) 100%
  );
}

#seat {
  color: gray;
  font-weight: bold;
  font-size: 35px;
  margin: 60 60 30 60;
}

.e176_575 {
  background-image: linear-gradient(
    0deg,
    rgba(140.4602837562561, 84.35807257890701, 196.5624949336052, 1) 0%,
    rgba(214.4379821419716, 216.75000607967377, 101.1499947309494, 1) 100%
  );
  width: 1441px;
  height: 3298px;
  position: absolute;
}
.e176_576 {
  background-image: linear-gradient(
    0deg,
    rgba(180.5491206049919, 139.18750405311584, 255, 1) 0%,
    rgba(65.49249529838562, 61.62500202655792, 255, 1) 34.89583432674408%,
    rgba(0, 147.89998054504395, 255, 1) 67.70833134651184%,
    rgba(0, 255, 239.70001459121704, 1) 100%
  );
  opacity: 0.800000011920929;
  width: 127px;
  height: 135px;
  position: absolute;
  left: 331px;
  top: 594px;
}
.e176_577 {
  transform: rotate(-60.00000274103453deg);
  background-image: linear-gradient(
    0deg,
    rgba(210.99124789237976, 255, 139.18750405311584, 1) 0%,
    rgba(65.49249529838562, 255, 61.62500202655792, 1) 34.89583432674408%,
    rgba(89.25000607967377, 255, 155.55001884698868, 1) 67.70833134651184%,
    rgba(0, 255, 224.3999683856964, 1) 100%
  );
  opacity: 0.800000011920929;
  width: 79.68303680419922px;
  height: 84.6632308959961px;
  position: absolute;
  left: 809px;
  top: 417.007568359375px;
}
.e176_578 {
  transform: rotate(120.00000340285067deg);
  background-image: linear-gradient(
    0deg,
    rgba(255, 139.18750405311584, 139.18750405311584, 1) 0%,
    rgba(255, 96.43250226974487, 61.62500202655792, 1) 34.89583432674408%,
    rgba(255, 183.5999920964241, 0, 1) 67.70833134651184%,
    rgba(249.900004863739, 255, 0, 1) 100%
  );
  opacity: 0.800000011920929;
  width: 144.68421936035156px;
  height: 153.6654815673828px;
  position: absolute;
  left: 1152.42041015625px;
  top: 636.832763671875px;
}
.e176_579 {
  transform: rotate(-60.00000274103453deg);
  background-image: linear-gradient(
    0deg,
    rgba(238.78627002239227, 139.18750405311584, 255, 1) 0%,
    rgba(169.91499602794647, 61.62500202655792, 255, 1) 34.89583432674408%,
    rgba(255, 89.25000607967377, 198.6449807882309, 1) 67.70833134651184%,
    rgba(249.900004863739, 0, 255, 1) 100%
  );
  opacity: 0.800000011920929;
  width: 99.26886749267578px;
  height: 105.47317504882812px;
  position: absolute;
  left: 951.20068359375px;
  top: 252.969482421875px;
}
