.107_422 { 
	overflow:hidden;
}.e107_422 { 
	background-color:rgba(26.000000350177288, 34.00000177323818, 50.000000819563866, 1);
	width:1440px;
	height:2068px;
	border-top-left-radius:15px;
	border-top-right-radius:15px;
	border-bottom-left-radius:15px;
	border-bottom-right-radius:15px;
	position:absolute;
}.e107_423 { 
	background-image:linear-gradient(0deg, rgba(140.4602837562561, 84.35807257890701, 196.5624949336052, 1) 0%,rgba(214.4379821419716, 216.75000607967377, 101.1499947309494, 1) 100%) ;
	width:1441px;
	height:1222px;
	position:absolute;
	left:-1px;
	top:678px;
}.e107_424 { 
	background-image:linear-gradient(0deg, rgba(180.5491206049919, 139.18750405311584, 255, 1) 0%,rgba(65.49249529838562, 61.62500202655792, 255, 1) 34.89583432674408%,rgba(0, 147.89998054504395, 255, 1) 67.70833134651184%,rgba(0, 255, 239.70001459121704, 1) 100%) ;
	opacity:0.800000011920929;
	width:171px;
	height:182px;
	position:absolute;
	left:1071px;
	top:523px;
}.e107_425 { 
	transform: rotate(-60.00000274103453deg);
	background-image:linear-gradient(0deg, rgba(210.99124789237976, 255, 139.18750405311584, 1) 0%,rgba(65.49249529838562, 255, 61.62500202655792, 1) 34.89583432674408%,rgba(89.25000607967377, 255, 155.55001884698868, 1) 67.70833134651184%,rgba(0, 255, 224.3999683856964, 1) 100%) ;
	opacity:0.800000011920929;
	width:79.68303680419922px;
	height:84.6632308959961px;
	position:absolute;
	left:895px;
	top:383.0075378417969px;
}.e107_426 { 
	transform: rotate(-60.00000274103453deg);
	background-image:linear-gradient(0deg, rgba(238.78627002239227, 139.18750405311584, 255, 1) 0%,rgba(169.91499602794647, 61.62500202655792, 255, 1) 34.89583432674408%,rgba(255, 89.25000607967377, 198.6449807882309, 1) 67.70833134651184%,rgba(249.900004863739, 0, 255, 1) 100%) ;
	opacity:0.800000011920929;
	width:99.26886749267578px;
	height:105.47317504882812px;
	position:absolute;
	left:508px;
	top:1097.9693603515625px;
}.e107_427 { 
	transform: rotate(2.064257869054812e-15deg);
	border-radius:500px;
	width:754.126708984375px;
	height:313.6281433105469px;
	position:absolute;
	left:344px;
	top:716.7869873046875px;
}.107_427 { 
	border:2px solid rgba(255, 255, 255, 1);
}.e107_428 { 
	transform: rotate(-46.00173972618053deg);
	border-radius:500px;
	width:767.6649169921875px;
	height:308.2855529785156px;
	position:absolute;
	left:347.3660888671875px;
	top:872.022216796875px;
}.107_428 { 
	border:2px solid rgba(255, 255, 255, 1);
}.e107_429 { 
	transform: rotate(2.064257869054812e-15deg);
	border-radius:500px;
	width:754.126708984375px;
	height:313.6281433105469px;
	position:absolute;
	left:344px;
	top:383.16949462890625px;
}.107_429 { 
	border:2px solid rgba(255, 255, 255, 1);
}.e107_430 { 
	box-shadow:0px 1px 6px rgba(0, 0, 0, 0.25);
	background-color:rgba(0, 0, 0, 1);
	width:1440px;
	height:168px;
	position:absolute;
	left:0px;
	top:1900px;
	border-radius:Symbol(figma.mixed)px;
}.e107_431 { 
	width:114px;
	height:82px;
	position:absolute;
	left:1212px;
	top:45px;
}.e107_432 { 
	width:107px;
	height:37px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:15px;
	border-top-right-radius:15px;
	border-bottom-left-radius:15px;
	border-bottom-right-radius:15px;
}.ei107_432_72_3206 { 
	color:rgba(255, 255, 255, 1);
	width:87px;
	height:27px;
	position:absolute;
	left:10px;
	top:5px;
	font-family:Noto Sans;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}.e107_433 { 
	width:93px;
	height:37px;
	position:absolute;
	left:21px;
	top:45px;
	border-top-left-radius:15px;
	border-top-right-radius:15px;
	border-bottom-left-radius:15px;
	border-bottom-right-radius:15px;
}.ei107_433_72_3206 { 
	color:rgba(255, 255, 255, 1);
	width:73px;
	height:27px;
	position:absolute;
	left:10px;
	top:5px;
	font-family:Noto Sans;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}.e107_434 { 
	width:1440px;
	height:100px;
	position:absolute;
	left:0px;
	top:0px;
}.ei107_434_44_298 { 
	box-shadow:0px 2px 6px rgba(0, 0, 0, 0.25);
	background-color:rgba(0, 0, 0, 1);
	width:1440px;
	height:100px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:15px;
	border-top-right-radius:15px;
	border-bottom-left-radius:15px;
	border-bottom-right-radius:15px;
}.ei107_434_44_300 { 
	width:100px;
	height:47px;
	position:absolute;
	left:1210px;
	top:27px;
}.ei107_434_44_300_40_50 { 
	width:80px;
	height:27px;
	position:absolute;
	left:10px;
	top:10px;
}.ei107_434_44_300_36_50 { 
	width:80px;
	height:27px;
	position:absolute;
	left:0.000003814697265625px;
	top:0px;
}.ei107_434_44_300_35_26 { 
	background-image:linear-gradient(0deg, rgba(255, 255, 255, 1) 0%) ;
	-webkit-background-clip:text;
	-webkit-text-fill-color:transparent;
	-moz-background-clip:text;
	-moz-text-fill-color:transparent;
	-ms-background-clip:text;
	-ms-text-fill-color:transparent;
	width:80px;
	height:27px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Noto Sans;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}.e107_435 { 
	width:99px;
	height:47px;
	position:absolute;
	left:1210px;
	top:293px;
}.ei107_435_40_50 { 
	width:79px;
	height:27px;
	position:absolute;
	left:10px;
	top:10px;
}.ei107_435_36_50 { 
	width:79px;
	height:27px;
	position:absolute;
	left:0.000003814697265625px;
	top:0px;
}.ei107_435_35_26 { 
	background-image:linear-gradient(0deg, rgba(255, 255, 255, 1) 0%) ;
	-webkit-background-clip:text;
	-webkit-text-fill-color:transparent;
	-moz-background-clip:text;
	-moz-text-fill-color:transparent;
	-ms-background-clip:text;
	-ms-text-fill-color:transparent;
	width:79px;
	height:27px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Noto Sans;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}.e107_436 { 
	border-radius:500px;
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:255px;
	height:255px;
	position:absolute;
	left:195px;
	top:260px;
}.e107_437 { 
	width:388px;
	height:61px;
	position:absolute;
	left:195px;
	top:728px;
}.ei107_437_40_50 { 
	width:368px;
	height:41px;
	position:absolute;
	left:10px;
	top:10px;
}.ei107_437_36_50 { 
	width:368px;
	height:41px;
	position:absolute;
	left:0.000003814697265625px;
	top:0px;
}.ei107_437_35_26 { 
	color:rgba(89.25000607967377, 255, 155.55001884698868, 1);
	width:368px;
	height:41px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Noto Sans;
	text-align:center;
	font-size:30px;
	letter-spacing:0;
}.e107_438 { 
	width:194px;
	height:61px;
	position:absolute;
	left:1115px;
	top:369px;
}.ei107_438_40_50 { 
	width:174px;
	height:41px;
	position:absolute;
	left:10px;
	top:10px;
}.ei107_438_36_50 { 
	width:174px;
	height:41px;
	position:absolute;
	left:0.000003814697265625px;
	top:0px;
}.ei107_438_35_26 { 
	background-image:linear-gradient(0deg, rgba(255, 255, 255, 1) 0%) ;
	-webkit-background-clip:text;
	-webkit-text-fill-color:transparent;
	-moz-background-clip:text;
	-moz-text-fill-color:transparent;
	-ms-background-clip:text;
	-ms-text-fill-color:transparent;
	width:174px;
	height:41px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Noto Sans;
	text-align:center;
	font-size:30px;
	letter-spacing:0;
}.e107_439 { 
	width:158px;
	height:61px;
	position:absolute;
	left:1151px;
	top:420px;
}.ei107_439_40_50 { 
	width:138px;
	height:41px;
	position:absolute;
	left:10px;
	top:10px;
}.ei107_439_36_50 { 
	width:138px;
	height:41px;
	position:absolute;
	left:0.000003814697265625px;
	top:0px;
}.ei107_439_35_26 { 
	background-image:linear-gradient(0deg, rgba(255, 255, 255, 1) 0%) ;
	-webkit-background-clip:text;
	-webkit-text-fill-color:transparent;
	-moz-background-clip:text;
	-moz-text-fill-color:transparent;
	-ms-background-clip:text;
	-ms-text-fill-color:transparent;
	width:138px;
	height:41px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Noto Sans;
	text-align:center;
	font-size:30px;
	letter-spacing:0;
}.e107_440 { 
	box-shadow:11px 33px 40px rgba(6.63000013679266, 8.670001421123743, 12.750000189989805, 0.25);
	background-image:linear-gradient(0deg, rgba(202.93750405311584, 150.8750081062317, 255, 1) 0%,rgba(204.0849968791008, 208.24999898672104, 0, 1) 100%) ;
	width:290px;
	height:428.43206787109375px;
	position:absolute;
	left:197px;
	top:842px;
	border-top-left-radius:24px;
	border-top-right-radius:24px;
	border-bottom-left-radius:24px;
	border-bottom-right-radius:24px;
}.107_440 { 
	border:10px solid rgba(249.900004863739, 255, 0, 1);
}.e107_443 { 
	transform: rotate(-30.00000044529205deg);
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0.28999999165534973);
	width:133.60667419433594px;
	height:43.54429626464844px;
	position:absolute;
	left:-44px;
	top:47.8033447265625px;
}.e107_444 { 
	box-shadow:11px 33px 40px rgba(6.63000013679266, 8.670001421123743, 12.750000189989805, 0.25);
	background-image:linear-gradient(0deg, rgba(202.93750405311584, 150.8750081062317, 255, 1) 0%,rgba(204.0849968791008, 208.24999898672104, 0, 1) 100%) ;
	width:290px;
	height:428.43206787109375px;
	position:absolute;
	left:576px;
	top:842px;
	border-top-left-radius:24px;
	border-top-right-radius:24px;
	border-bottom-left-radius:24px;
	border-bottom-right-radius:24px;
}.e107_447 { 
	width:236px;
	height:238px;
	position:absolute;
	left:26px;
	top:62px;
	background-image:url(images/rectangle_29.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e107_448 { 
	box-shadow:11px 33px 40px rgba(6.63000013679266, 8.670001421123743, 12.750000189989805, 0.25);
	background-image:linear-gradient(0deg, rgba(202.93750405311584, 150.8750081062317, 255, 1) 0%,rgba(204.0849968791008, 208.24999898672104, 0, 1) 100%) ;
	width:290px;
	height:428.43206787109375px;
	position:absolute;
	left:955px;
	top:842px;
	border-top-left-radius:24px;
	border-top-right-radius:24px;
	border-bottom-left-radius:24px;
	border-bottom-right-radius:24px;
}.e107_451 { 
	width:236px;
	height:238px;
	position:absolute;
	left:26px;
	top:62px;
	background-image:url(images/rectangle_30.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e107_452 { 
	width:236px;
	height:238px;
	position:absolute;
	left:223px;
	top:904px;
	background-image:url(images/rectangle_22.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e107_453 { 
	box-shadow:11px 33px 40px rgba(6.63000013679266, 8.670001421123743, 12.750000189989805, 0.25);
	background-image:linear-gradient(0deg, rgba(202.93750405311584, 150.8750081062317, 255, 1) 0%,rgba(204.0849968791008, 208.24999898672104, 0, 1) 100%) ;
	width:290px;
	height:428.43206787109375px;
	position:absolute;
	left:197px;
	top:1355px;
	border-top-left-radius:24px;
	border-top-right-radius:24px;
	border-bottom-left-radius:24px;
	border-bottom-right-radius:24px;
}.107_453 { 
	border:10px solid rgba(174.25000101327896, 174.25000101327896, 174.25000101327896, 1);
}.e107_454 { 
	transform: rotate(120.00000340285067deg);
	background-image:linear-gradient(0deg, rgba(255, 139.18750405311584, 139.18750405311584, 1) 0%,rgba(255, 96.43250226974487, 61.62500202655792, 1) 34.89583432674408%,rgba(255, 183.5999920964241, 0, 1) 67.70833134651184%,rgba(249.900004863739, 255, 0, 1) 100%) ;
	opacity:0.800000011920929;
	width:144.68421936035156px;
	height:153.6654815673828px;
	position:absolute;
	left:144.42041015625px;
	top:135.83274841308594px;
}.e107_457 { 
	width:327px;
	height:81px;
	position:absolute;
	left:33px;
	top:328px;
}.e107_458 { 
	color:rgba(255, 255, 255, 1);
	width:327px;
	height:22px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Noto Sans;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}.e107_459 { 
	color:rgba(99.09299790859222, 115.36200731992722, 147.89999574422836, 1);
	width:327px;
	height:19px;
	position:absolute;
	left:0px;
	top:26px;
	font-family:Noto Sans;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}.e107_460 { 
	width:236px;
	height:238px;
	position:absolute;
	left:223px;
	top:1417px;
	background-image:url(images/rectangle_29.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e107_461 { 
	width:327px;
	height:81px;
	position:absolute;
	left:230px;
	top:1169px;
}.e107_462 { 
	color:rgba(255, 255, 255, 1);
	width:327px;
	height:22px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Noto Sans;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}.e107_463 { 
	color:rgba(99.09299790859222, 115.36200731992722, 147.89999574422836, 1);
	width:327px;
	height:19px;
	position:absolute;
	left:0px;
	top:26px;
	font-family:Noto Sans;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}.e107_464 { 
	width:327px;
	height:81px;
	position:absolute;
	left:606px;
	top:1156px;
}.e107_465 { 
	color:rgba(255, 255, 255, 1);
	width:327px;
	height:22px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Noto Sans;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}.e107_466 { 
	color:rgba(99.09299790859222, 115.36200731992722, 147.89999574422836, 1);
	width:327px;
	height:19px;
	position:absolute;
	left:0px;
	top:26px;
	font-family:Noto Sans;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}.e107_467 { 
	width:327px;
	height:81px;
	position:absolute;
	left:982px;
	top:1155px;
}.e107_468 { 
	color:rgba(255, 255, 255, 1);
	width:327px;
	height:22px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Noto Sans;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}.e107_469 { 
	color:rgba(99.09299790859222, 115.36200731992722, 147.89999574422836, 1);
	width:327px;
	height:19px;
	position:absolute;
	left:0px;
	top:26px;
	font-family:Noto Sans;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}.e107_470 { 
	opacity:0.30000001192092896;
	width:205px;
	height:205px;
	position:absolute;
	left:220px;
	top:295px;
}.e107_471 { 
	width:131.99525451660156px;
	height:131.7857208251953px;
	position:absolute;
	left:36.50704574584961px;
	top:29.285715103149414px;
}.e107_472 { 
	background-color:rgba(19.0000007674098, 19.0000007674098, 19.0000007674098, 1);
	width:131.99525451660156px;
	height:65.78234100341797px;
	position:absolute;
	left:0px;
	top:66.00337982177734px;
}.e107_473 { 
	background-color:rgba(19.0000007674098, 19.0000007674098, 19.0000007674098, 1);
	width:58.27056121826172px;
	height:57.911521911621094px;
	position:absolute;
	left:36.85023498535156px;
	top:0px;
}.e107_474 { 
	width:147px;
	height:55.999755859375px;
	position:absolute;
	left:80px;
	top:20px;
}.e107_475 { 
	color:rgba(98.98958265781403, 228.4374949336052, 181.8362483382225, 1);
	width:123px;
	height:48px;
	position:absolute;
	left:24px;
	top:7.999755859375px;
	font-family:Noto Sans;
	text-align:center;
	font-size:35px;
	letter-spacing:0;
}.e107_476 { 
	transform: rotate(-30.00000044529205deg);
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0.28999999165534973);
	width:58.450008392333984px;
	height:19.049680709838867px;
	position:absolute;
	left:0px;
	top:29.225004196166992px;
}