* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.metadata {
  margin-left: 500px;
  font-size: 20px;
  font-weight: bold;
}
p {
  color: white;
  margin-left: 10px;
  margin-top: 10px;
}
.concerts_title {
  margin-top: 20px;
  font-size: 20px;
  font-weight: bold;
}

.list {
  margin-top: 20px;
  padding: 1rem 0;
  width: 100%;
  display: flex;
  transform: translate(0, 0);
}

.item {
  background-color: rgba(255, 255, 0, 0.5);
  list-style: none;
  user-select: none;
  border: 10px solid yellow;
  border-radius: 24px;
  margin: 20 10 20 10;
  height: 450px;
}

.link {
  display: block;
  -webkit-user-drag: none;
}

.image {
  margin: 5px;
  border-radius: 24px;
  display: block;
  width: 240px;
  height: 420px;
  -webkit-user-drag: none;
  text-align: center;
}
body {
  width: 100%;
  padding: 4rem 0;
  font-size: 14px;
}

#body::-webkit-scrollbar {
  display: none;
}

.backgound {
  width: 100%;
  height: 1200px;
  background: rgba(26, 34, 50, 1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}

.title_area {
  width: 100%;
  height: 90px;
  background: rgb(8, 7, 18);
}

#btn_logout {
  margin-top: 38px;
  float: right;
  margin-right: 100px;
}
#profile_cover {
  width: 100%;
  height: 300px;
}

#img_profile {
  margin-top: 40px;
  margin-left: 100px;
  height: 220px;
  width: 220px;
  border-radius: 110px;
}

#collection_wrap {
  width: 100%;
  height: 610px;
  background-image: linear-gradient(
    0deg,
    rgba(140.4602837562561, 84.35807257890701, 196.5624949336052, 0.3) 0%,
    rgba(214.4379821419716, 216.75000607967377, 101.1499947309494, 0.3) 100%
  );
}
#collection_title_area {
  height: 50px;
  width: 100%;
}

#collection_title {
  color: rgba(89.25000607967377, 255, 155.55001884698868, 1);
  height: 50px;
  margin: 10 0 10 50;
  font-size: 30px;
  letter-spacing: 0;
  font-weight: bold;
}

.footer {
  width: 100%;
  height: 200px;
  background: rgb(8, 7, 18);
  opacity: 1;
  position: absolute;
  bottom: 0;
  left: 0px;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}

.ticket_wrap {
  margin: 10px;
  width: 290px;
  height: 428.43206787109375px;
  box-shadow: 11px 33px 40px
    rgba(6.63000013679266, 8.670001421123743, 12.750000189989805, 0.25);
  background-image: linear-gradient(
    0deg,
    rgba(202.93750405311584, 150.8750081062317, 255, 1) 0%,
    rgba(204.0849968791008, 208.24999898672104, 0, 1) 100%
  );
  position: absolute;
  border-radius: 24px;
}

.v66_427 {
  width: 147px;
  height: 55px;

  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 20px;
  left: 80px;
  overflow: hidden;
}
.v66_428 {
  width: 123px;
  color: rgba(98, 228, 181, 1);
  position: absolute;
  top: 7px;
  left: 24px;
  font-family: Noto Sans;
  font-weight: Display Bold;
  font-size: 35px;
  opacity: 1;
  text-align: center;
}
.v66_429 {
  width: 58px;
  height: 19px;
  background: rgba(217, 217, 217, 0.28999999165534973);
  opacity: 1;
  position: absolute;
  top: 29px;
  left: 0px;
  transform: rotate(-30deg);
  overflow: hidden;
}
