.17_1414 { 
	overflow:hidden;
}.e17_1414 { 
	background-color:rgba(26.000000350177288, 34.00000177323818, 50.000000819563866, 1);
	width:1440px;
	height:3897px;
	border-top-left-radius:15px;
	border-top-right-radius:15px;
	border-bottom-left-radius:15px;
	border-bottom-right-radius:15px;
	position:absolute;
}.e17_1415 { 
	box-shadow:0px 1px 6px rgba(0, 0, 0, 0.25);
	background-color:rgba(0, 0, 0, 1);
	width:1440px;
	height:168px;
	position:absolute;
	left:0px;
	top:3729px;
	border-radius:Symbol(figma.mixed)px;
}.e17_1416 { 
	width:114px;
	height:82px;
	position:absolute;
	left:1212px;
	top:45px;
}.e17_1417 { 
	width:107px;
	height:37px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:15px;
	border-top-right-radius:15px;
	border-bottom-left-radius:15px;
	border-bottom-right-radius:15px;
}.ei17_1417_72_3206 { 
	color:rgba(255, 255, 255, 1);
	width:87px;
	height:27px;
	position:absolute;
	left:10px;
	top:5px;
	font-family:Noto Sans;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}.e17_1418 { 
	width:93px;
	height:37px;
	position:absolute;
	left:21px;
	top:45px;
	border-top-left-radius:15px;
	border-top-right-radius:15px;
	border-bottom-left-radius:15px;
	border-bottom-right-radius:15px;
}.ei17_1418_72_3206 { 
	color:rgba(255, 255, 255, 1);
	width:73px;
	height:27px;
	position:absolute;
	left:10px;
	top:5px;
	font-family:Noto Sans;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}.e17_1419 { 
	width:1440px;
	height:100px;
	position:absolute;
	left:7px;
	top:0px;
}.ei17_1419_44_298 { 
	box-shadow:0px 2px 6px rgba(0, 0, 0, 0.25);
	background-color:rgba(0, 0, 0, 1);
	width:1440px;
	height:100px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:15px;
	border-top-right-radius:15px;
	border-bottom-left-radius:15px;
	border-bottom-right-radius:15px;
}.ei17_1419_44_300 { 
	width:108px;
	height:47px;
	position:absolute;
	left:1210px;
	top:27px;
}.ei17_1419_44_300_40_50 { 
	width:88px;
	height:27px;
	position:absolute;
	left:10px;
	top:10px;
}.ei17_1419_44_300_36_50 { 
	width:88px;
	height:27px;
	position:absolute;
	left:0.000003814697265625px;
	top:0px;
}.ei17_1419_44_300_35_26 { 
	background-image:linear-gradient(0deg, rgba(255, 255, 255, 1) 0%) ;
	-webkit-background-clip:text;
	-webkit-text-fill-color:transparent;
	-moz-background-clip:text;
	-moz-text-fill-color:transparent;
	-ms-background-clip:text;
	-ms-text-fill-color:transparent;
	width:88px;
	height:27px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Noto Sans;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}.e17_3099 { 
	box-shadow:3px 1px 45px rgba(149.9895340204239, 136.35416328907013, 233.7500050663948, 0.5400000214576721);
	width:551px;
	height:482px;
	position:absolute;
	left:135px;
	top:240px;
	background-image:url(images/rectangle_21.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e17_3100 { 
	width:325px;
	height:61px;
	position:absolute;
	left:790px;
	top:230px;
}.ei17_3100_40_50 { 
	width:305px;
	height:41px;
	position:absolute;
	left:10px;
	top:10px;
}.ei17_3100_36_50 { 
	width:305px;
	height:41px;
	position:absolute;
	left:0.000003814697265625px;
	top:0px;
}.ei17_3100_35_26 { 
	background-image:linear-gradient(0deg, rgba(202.93750405311584, 150.8750081062317, 255, 1) 0%,rgba(204.0849968791008, 208.24999898672104, 0, 1) 100%) ;
	-webkit-background-clip:text;
	-webkit-text-fill-color:transparent;
	-moz-background-clip:text;
	-moz-text-fill-color:transparent;
	-ms-background-clip:text;
	-ms-text-fill-color:transparent;
	width:305px;
	height:41px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Noto Sans;
	text-align:center;
	font-size:30px;
	letter-spacing:0;
}.e17_3112 { 
	width:76px;
	height:52px;
	position:absolute;
	left:780px;
	top:607px;
}.ei17_3112_40_50 { 
	width:56px;
	height:41px;
	position:absolute;
	left:10px;
	top:1px;
}.ei17_3112_36_50 { 
	width:56px;
	height:41px;
	position:absolute;
	left:0.000003814697265625px;
	top:0px;
}.ei17_3112_35_26 { 
	background-image:linear-gradient(0deg, rgba(202.93750405311584, 150.8750081062317, 255, 1) 0%,rgba(204.0849968791008, 208.24999898672104, 0, 1) 100%) ;
	-webkit-background-clip:text;
	-webkit-text-fill-color:transparent;
	-moz-background-clip:text;
	-moz-text-fill-color:transparent;
	-ms-background-clip:text;
	-ms-text-fill-color:transparent;
	width:56px;
	height:41px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Noto Sans;
	text-align:center;
	font-size:30px;
	letter-spacing:0;
}.e17_3118 { 
	width:115px;
	height:52px;
	position:absolute;
	left:1189px;
	top:607px;
}.ei17_3118_40_50 { 
	width:129px;
	height:41px;
	position:absolute;
	left:-7px;
	top:1px;
}.ei17_3118_36_50 { 
	width:129px;
	height:41px;
	position:absolute;
	left:0.000003814697265625px;
	top:0px;
}.ei17_3118_35_26 { 
	background-image:linear-gradient(0deg, rgba(202.93750405311584, 150.8750081062317, 255, 1) 0%,rgba(204.0849968791008, 208.24999898672104, 0, 1) 100%) ;
	-webkit-background-clip:text;
	-webkit-text-fill-color:transparent;
	-moz-background-clip:text;
	-moz-text-fill-color:transparent;
	-ms-background-clip:text;
	-ms-text-fill-color:transparent;
	width:129px;
	height:41px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Noto Sans;
	text-align:center;
	font-size:30px;
	letter-spacing:0;
}.e17_3106 { 
	width:208px;
	height:47px;
	position:absolute;
	left:790px;
	top:281px;
}.ei17_3106_40_50 { 
	width:188px;
	height:27px;
	position:absolute;
	left:10px;
	top:10px;
}.ei17_3106_36_50 { 
	width:188px;
	height:27px;
	position:absolute;
	left:0.000003814697265625px;
	top:0px;
}.ei17_3106_35_26 { 
	color:rgba(255, 255, 255, 1);
	width:188px;
	height:27px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Noto Sans;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}.e17_3152 { 
	width:345px;
	height:81px;
	position:absolute;
	left:128px;
	top:769px;
}.e17_3140 { 
	width:304px;
	height:61px;
	position:absolute;
	left:10px;
	top:10px;
}.ei17_3140_40_50 { 
	width:284px;
	height:41px;
	position:absolute;
	left:10px;
	top:10px;
}.ei17_3140_36_50 { 
	width:284px;
	height:41px;
	position:absolute;
	left:0.000003814697265625px;
	top:0px;
}.ei17_3140_35_26 { 
	background-image:linear-gradient(0deg, rgba(202.93750405311584, 150.8750081062317, 255, 1) 0%) ;
	-webkit-background-clip:text;
	-webkit-text-fill-color:transparent;
	-moz-background-clip:text;
	-moz-text-fill-color:transparent;
	-ms-background-clip:text;
	-ms-text-fill-color:transparent;
	width:284px;
	height:41px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Noto Sans;
	text-align:center;
	font-size:30px;
	letter-spacing:0;
}.e17_3154 { 
	width:300px;
	height:189px;
	position:absolute;
	left:154px;
	top:850px;
}.e17_3155 { 
	width:300px;
	height:189px;
	position:absolute;
	left:0px;
	top:0px;
}.e17_3156 { 
	color:rgba(255, 255, 255, 1);
	width:300px;
	height:189px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Noto Sans;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}.e17_3124 { 
	box-shadow:0px 4px 16px rgba(255, 128.0000075697899, 54.00000058114529, 0.25);
	background-image:linear-gradient(0deg, rgba(0, 255, 239.70001459121704, 1) 0%,rgba(202.93750405311584, 150.8750081062317, 255, 1) 32.29166567325592%,rgba(204.0849968791008, 208.24999898672104, 0, 1) 62.5%,rgba(255, 196.98744893074036, 47.8125, 1) 76.04166865348816%,rgba(192.0455101132393, 140.57026505470276, 242.8346335887909, 1) 100%) ;
	width:528px;
	height:63px;
	position:absolute;
	left:776px;
	top:659px;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	border-bottom-left-radius:8px;
	border-bottom-right-radius:8px;
}.ei17_3124_1_561 { 
	color:rgba(255, 255, 255, 1);
	width:254px;
	height:27px;
	position:absolute;
	left:137px;
	top:18px;
	font-family:Noto Sans;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}.e17_3788 { 
	width:178px;
	height:61px;
	position:absolute;
	left:139px;
	top:1094px;
}.ei17_3788_40_50 { 
	width:158px;
	height:41px;
	position:absolute;
	left:10px;
	top:10px;
}.ei17_3788_36_50 { 
	width:158px;
	height:41px;
	position:absolute;
	left:0.000003814697265625px;
	top:0px;
}.ei17_3788_35_26 { 
	background-image:linear-gradient(0deg, rgba(202.93750405311584, 150.8750081062317, 255, 1) 0%,rgba(204.0849968791008, 208.24999898672104, 0, 1) 100%) ;
	-webkit-background-clip:text;
	-webkit-text-fill-color:transparent;
	-moz-background-clip:text;
	-moz-text-fill-color:transparent;
	-ms-background-clip:text;
	-ms-text-fill-color:transparent;
	width:158px;
	height:41px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Noto Sans;
	text-align:center;
	font-size:30px;
	letter-spacing:0;
}.e36_663 { 
	width:144px;
	height:61px;
	position:absolute;
	left:139px;
	top:1329px;
}.ei36_663_40_50 { 
	width:124px;
	height:41px;
	position:absolute;
	left:10px;
	top:10px;
}.ei36_663_36_50 { 
	width:124px;
	height:41px;
	position:absolute;
	left:0.000003814697265625px;
	top:0px;
}.ei36_663_35_26 { 
	background-image:linear-gradient(0deg, rgba(202.93750405311584, 150.8750081062317, 255, 1) 0%,rgba(204.0849968791008, 208.24999898672104, 0, 1) 100%) ;
	-webkit-background-clip:text;
	-webkit-text-fill-color:transparent;
	-moz-background-clip:text;
	-moz-text-fill-color:transparent;
	-ms-background-clip:text;
	-ms-text-fill-color:transparent;
	width:124px;
	height:41px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Noto Sans;
	text-align:center;
	font-size:30px;
	letter-spacing:0;
}.e36_682 { 
	width:694px;
	height:238px;
	position:absolute;
	left:655px;
	top:1562px;
}.ei36_682_40_50 { 
	width:674px;
	height:218px;
	position:absolute;
	left:10px;
	top:10px;
}.ei36_682_36_50 { 
	width:674px;
	height:218px;
	position:absolute;
	left:0.000003814697265625px;
	top:0px;
}.ei36_682_35_26 { 
	color:rgba(120.06249949336052, 120.06249949336052, 120.06249949336052, 1);
	width:674px;
	height:218px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Noto Sans;
	text-align:right;
	font-size:80px;
	letter-spacing:0;
}.36_698 { 
	border:9px solid rgba(66.93749696016312, 66.93749696016312, 66.93749696016312, 1);
}.e36_698 { 
	width:89px;
	height:0px;
	position:absolute;
	left:523px;
	top:1746px;
}.e36_690 { 
	width:327px;
	height:68px;
	position:absolute;
	left:140px;
	top:1218px;
}.ei36_690_40_50 { 
	width:307px;
	height:48px;
	position:absolute;
	left:10px;
	top:10px;
}.ei36_690_36_50 { 
	width:307px;
	height:48px;
	position:absolute;
	left:0.000003814697265625px;
	top:0px;
}.ei36_690_35_26 { 
	color:rgba(120.06249949336052, 120.06249949336052, 120.06249949336052, 1);
	width:307px;
	height:48px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Noto Sans;
	text-align:right;
	font-size:35px;
	letter-spacing:0;
}.e36_669 { 
	width:231px;
	height:61px;
	position:absolute;
	left:139px;
	top:1934px;
}.ei36_669_40_50 { 
	width:211px;
	height:41px;
	position:absolute;
	left:10px;
	top:10px;
}.ei36_669_36_50 { 
	width:211px;
	height:41px;
	position:absolute;
	left:0.000003814697265625px;
	top:0px;
}.ei36_669_35_26 { 
	background-image:linear-gradient(0deg, rgba(202.93750405311584, 150.8750081062317, 255, 1) 0%,rgba(204.0849968791008, 208.24999898672104, 0, 1) 100%) ;
	-webkit-background-clip:text;
	-webkit-text-fill-color:transparent;
	-moz-background-clip:text;
	-moz-text-fill-color:transparent;
	-ms-background-clip:text;
	-ms-text-fill-color:transparent;
	width:211px;
	height:41px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Noto Sans;
	text-align:center;
	font-size:30px;
	letter-spacing:0;
}.e36_676 { 
	width:230px;
	height:61px;
	position:absolute;
	left:139px;
	top:2581px;
}.ei36_676_40_50 { 
	width:210px;
	height:41px;
	position:absolute;
	left:10px;
	top:10px;
}.ei36_676_36_50 { 
	width:210px;
	height:41px;
	position:absolute;
	left:0.000003814697265625px;
	top:0px;
}.ei36_676_35_26 { 
	background-image:linear-gradient(0deg, rgba(202.93750405311584, 150.8750081062317, 255, 1) 0%,rgba(204.0849968791008, 208.24999898672104, 0, 1) 100%) ;
	-webkit-background-clip:text;
	-webkit-text-fill-color:transparent;
	-moz-background-clip:text;
	-moz-text-fill-color:transparent;
	-ms-background-clip:text;
	-ms-text-fill-color:transparent;
	width:210px;
	height:41px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Noto Sans;
	text-align:center;
	font-size:30px;
	letter-spacing:0;
}.e17_3805 { 
	width:110px;
	height:61px;
	position:absolute;
	left:418px;
	top:1094px;
}.ei17_3805_40_50 { 
	width:90px;
	height:41px;
	position:absolute;
	left:10px;
	top:10px;
}.ei17_3805_36_50 { 
	width:90px;
	height:41px;
	position:absolute;
	left:0.000003814697265625px;
	top:0px;
}.ei17_3805_35_26 { 
	background-image:linear-gradient(0deg, rgba(121.12499848008156, 121.12499848008156, 121.12499848008156, 1) 0%) ;
	-webkit-background-clip:text;
	-webkit-text-fill-color:transparent;
	-moz-background-clip:text;
	-moz-text-fill-color:transparent;
	-ms-background-clip:text;
	-ms-text-fill-color:transparent;
	width:90px;
	height:41px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Noto Sans;
	text-align:center;
	font-size:30px;
	letter-spacing:0;
}.e17_3790 { 
	transform: rotate(0.000005008956130975318deg);
	width:1440px;
	height:0px;
	position:absolute;
	left:0px;
	top:1171px;
}.17_3790 { 
	border:2px solid rgba(69.0625025331974, 69.0625025331974, 69.0625025331974, 1);
}.e17_3791 { 
	width:240px;
	height:0px;
	position:absolute;
	left:108px;
	top:1171px;
}.e36_516 { 
	box-shadow:0px 29px 30px rgba(216.96838796138763, 219.93750303983688, 71.47968962788582, 0.3199999928474426);
	width:305px;
	height:370px;
	position:absolute;
	left:139px;
	top:1432px;
}.e36_508 { 
	background-image:linear-gradient(0deg, rgba(239.0625, 172.12495744228363, 0, 1) 2.083333395421505%,rgba(249.900004863739, 255, 0, 1) 52.08333134651184%,rgba(197.62499392032623, 150.67285895347595, 18.93906533718109, 1) 100%) ;
	width:305px;
	height:370px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:26px;
	border-top-right-radius:26px;
	border-bottom-left-radius:26px;
	border-bottom-right-radius:26px;
}.36_508 { 
	border:5px solid rgba(255, 255, 255, 1);
}.e36_509 { 
	transform: rotate(-30.00000044529205deg);
	background-color:rgba(202.9999879002571, 152.0000061392784, 249.00000035762787, 0.44999998807907104);
	width:210.09341430664062px;
	height:68.47239685058594px;
	position:absolute;
	left:38px;
	top:190.0467529296875px;
}.e36_510 { 
	background-color:rgba(255, 255, 255, 1);
	width:133px;
	height:133px;
	position:absolute;
	left:86px;
	top:101px;
}.e36_511 { 
	width:132px;
	height:48px;
	position:absolute;
	left:86.5px;
	top:267px;
}.e36_512 { 
	width:132px;
	height:48px;
	position:absolute;
	left:0px;
	top:0px;
}.e36_513 { 
	color:rgba(255, 255, 255, 1);
	width:132px;
	height:48px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Noto Sans;
	text-align:center;
	font-size:35px;
	letter-spacing:0;
}.e36_500 { 
	background-image:linear-gradient(0deg, rgba(102.31875121593475, 51.63749635219574, 153.00000607967377, 1) 10.9375%,rgba(174.694926738739, 97.57733523845673, 251.81250303983688, 1) 64.0625%,rgba(103.94518554210663, 52.669851556420326, 155.22051572799683, 1) 98.4375%) ;
	width:305px;
	height:370px;
	position:absolute;
	left:135px;
	top:2028px;
	border-top-left-radius:26px;
	border-top-right-radius:26px;
	border-bottom-left-radius:26px;
	border-bottom-right-radius:26px;
}.36_500 { 
	border:5px solid rgba(149.81249392032623, 149.81249392032623, 149.81249392032623, 1);
}.e36_556 { 
	background-color:rgba(56.31249949336052, 56.31249949336052, 56.31249949336052, 1);
	width:305px;
	height:370px;
	position:absolute;
	left:135px;
	top:2693px;
	border-top-left-radius:26px;
	border-top-right-radius:26px;
	border-bottom-left-radius:26px;
	border-bottom-right-radius:26px;
}.36_556 { 
	border:5px solid rgba(0, 0, 0, 1);
}.e36_501 { 
	transform: rotate(-30.00000044529205deg);
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0.28999999165534973);
	width:210.09341430664062px;
	height:68.47239685058594px;
	position:absolute;
	left:173px;
	top:2218.046875px;
}.e36_557 { 
	transform: rotate(-30.00000044529205deg);
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0.28999999165534973);
	width:210.09341430664062px;
	height:68.47239685058594px;
	position:absolute;
	left:173px;
	top:2883.046875px;
}.e36_502 { 
	background-color:rgba(255, 255, 255, 1);
	width:133px;
	height:133px;
	position:absolute;
	left:221px;
	top:2129px;
}.e36_558 { 
	background-color:rgba(255, 255, 255, 1);
	width:133px;
	height:133px;
	position:absolute;
	left:221px;
	top:2794px;
}.e36_503 { 
	width:132px;
	height:48px;
	position:absolute;
	left:222px;
	top:2295px;
}.e36_504 { 
	width:132px;
	height:48px;
	position:absolute;
	left:0px;
	top:0px;
}.e36_505 { 
	background-image:linear-gradient(0deg, rgba(255, 255, 255, 1) 100%) ;
	-webkit-background-clip:text;
	-webkit-text-fill-color:transparent;
	-moz-background-clip:text;
	-moz-text-fill-color:transparent;
	-ms-background-clip:text;
	-ms-text-fill-color:transparent;
	width:132px;
	height:48px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Noto Sans;
	text-align:center;
	font-size:35px;
	letter-spacing:0;
}.e36_559 { 
	width:132px;
	height:48px;
	position:absolute;
	left:222px;
	top:2960px;
}.e36_560 { 
	width:132px;
	height:48px;
	position:absolute;
	left:0px;
	top:0px;
}.e36_561 { 
	background-image:linear-gradient(0deg, rgba(255, 255, 255, 1) 100%) ;
	-webkit-background-clip:text;
	-webkit-text-fill-color:transparent;
	-moz-background-clip:text;
	-moz-text-fill-color:transparent;
	-ms-background-clip:text;
	-ms-text-fill-color:transparent;
	width:132px;
	height:48px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Noto Sans;
	text-align:center;
	font-size:35px;
	letter-spacing:0;
}.e36_603 { 
	width:305px;
	height:370px;
	position:absolute;
	left:568px;
	top:2693px;
}.e36_595 { 
	background-color:rgba(56.31249949336052, 56.31249949336052, 56.31249949336052, 1);
	width:305px;
	height:370px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:26px;
	border-top-right-radius:26px;
	border-bottom-left-radius:26px;
	border-bottom-right-radius:26px;
}.36_595 { 
	border:5px solid rgba(0, 0, 0, 1);
}.e36_596 { 
	transform: rotate(-30.00000044529205deg);
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0.28999999165534973);
	width:210.09341430664062px;
	height:68.47239685058594px;
	position:absolute;
	left:38px;
	top:190.046875px;
}.e36_597 { 
	background-color:rgba(255, 255, 255, 1);
	width:133px;
	height:133px;
	position:absolute;
	left:86px;
	top:101px;
}.e36_598 { 
	width:132px;
	height:48px;
	position:absolute;
	left:87px;
	top:267px;
}.e36_599 { 
	width:132px;
	height:48px;
	position:absolute;
	left:0px;
	top:0px;
}.e36_600 { 
	background-image:linear-gradient(0deg, rgba(255, 255, 255, 1) 100%) ;
	-webkit-background-clip:text;
	-webkit-text-fill-color:transparent;
	-moz-background-clip:text;
	-moz-text-fill-color:transparent;
	-ms-background-clip:text;
	-ms-text-fill-color:transparent;
	width:132px;
	height:48px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Noto Sans;
	text-align:center;
	font-size:35px;
	letter-spacing:0;
}.e36_604 { 
	width:305px;
	height:370px;
	position:absolute;
	left:1002px;
	top:2693px;
}.e36_605 { 
	background-color:rgba(56.31249949336052, 56.31249949336052, 56.31249949336052, 1);
	width:305px;
	height:370px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:26px;
	border-top-right-radius:26px;
	border-bottom-left-radius:26px;
	border-bottom-right-radius:26px;
}.36_605 { 
	border:5px solid rgba(0, 0, 0, 1);
}.e36_606 { 
	transform: rotate(-30.00000044529205deg);
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0.28999999165534973);
	width:210.09341430664062px;
	height:68.47239685058594px;
	position:absolute;
	left:38px;
	top:190.046875px;
}.e36_607 { 
	background-color:rgba(255, 255, 255, 1);
	width:133px;
	height:133px;
	position:absolute;
	left:86px;
	top:101px;
}.e36_608 { 
	width:132px;
	height:48px;
	position:absolute;
	left:87px;
	top:267px;
}.e36_609 { 
	width:132px;
	height:48px;
	position:absolute;
	left:0px;
	top:0px;
}.e36_610 { 
	background-image:linear-gradient(0deg, rgba(255, 255, 255, 1) 100%) ;
	-webkit-background-clip:text;
	-webkit-text-fill-color:transparent;
	-moz-background-clip:text;
	-moz-text-fill-color:transparent;
	-ms-background-clip:text;
	-ms-text-fill-color:transparent;
	width:132px;
	height:48px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Noto Sans;
	text-align:center;
	font-size:35px;
	letter-spacing:0;
}.e36_614 { 
	background-color:rgba(56.31249949336052, 56.31249949336052, 56.31249949336052, 1);
	width:305px;
	height:370px;
	position:absolute;
	left:135px;
	top:3152px;
	border-top-left-radius:26px;
	border-top-right-radius:26px;
	border-bottom-left-radius:26px;
	border-bottom-right-radius:26px;
}.36_614 { 
	border:5px solid rgba(0, 0, 0, 1);
}.e36_615 { 
	transform: rotate(-30.00000044529205deg);
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0.28999999165534973);
	width:210.09341430664062px;
	height:68.47239685058594px;
	position:absolute;
	left:173px;
	top:3342.046875px;
}.e36_616 { 
	background-color:rgba(255, 255, 255, 1);
	width:133px;
	height:133px;
	position:absolute;
	left:221px;
	top:3253px;
}.e36_617 { 
	width:132px;
	height:48px;
	position:absolute;
	left:222px;
	top:3419px;
}.e36_618 { 
	width:132px;
	height:48px;
	position:absolute;
	left:0px;
	top:0px;
}.e36_619 { 
	background-image:linear-gradient(0deg, rgba(255, 255, 255, 1) 100%) ;
	-webkit-background-clip:text;
	-webkit-text-fill-color:transparent;
	-moz-background-clip:text;
	-moz-text-fill-color:transparent;
	-ms-background-clip:text;
	-ms-text-fill-color:transparent;
	width:132px;
	height:48px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Noto Sans;
	text-align:center;
	font-size:35px;
	letter-spacing:0;
}.e36_622 { 
	width:305px;
	height:370px;
	position:absolute;
	left:568px;
	top:3152px;
}.e36_623 { 
	background-color:rgba(56.31249949336052, 56.31249949336052, 56.31249949336052, 1);
	width:305px;
	height:370px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:26px;
	border-top-right-radius:26px;
	border-bottom-left-radius:26px;
	border-bottom-right-radius:26px;
}.36_623 { 
	border:5px solid rgba(0, 0, 0, 1);
}.e36_624 { 
	transform: rotate(-30.00000044529205deg);
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0.28999999165534973);
	width:210.09341430664062px;
	height:68.47239685058594px;
	position:absolute;
	left:38px;
	top:190.046875px;
}.e36_625 { 
	background-color:rgba(255, 255, 255, 1);
	width:133px;
	height:133px;
	position:absolute;
	left:86px;
	top:101px;
}.e36_626 { 
	width:132px;
	height:48px;
	position:absolute;
	left:87px;
	top:267px;
}.e36_627 { 
	width:132px;
	height:48px;
	position:absolute;
	left:0px;
	top:0px;
}.e36_628 { 
	background-image:linear-gradient(0deg, rgba(255, 255, 255, 1) 100%) ;
	-webkit-background-clip:text;
	-webkit-text-fill-color:transparent;
	-moz-background-clip:text;
	-moz-text-fill-color:transparent;
	-ms-background-clip:text;
	-ms-text-fill-color:transparent;
	width:132px;
	height:48px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Noto Sans;
	text-align:center;
	font-size:35px;
	letter-spacing:0;
}.e36_631 { 
	width:305px;
	height:370px;
	position:absolute;
	left:1002px;
	top:3152px;
}.e36_632 { 
	background-color:rgba(56.31249949336052, 56.31249949336052, 56.31249949336052, 1);
	width:305px;
	height:370px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:26px;
	border-top-right-radius:26px;
	border-bottom-left-radius:26px;
	border-bottom-right-radius:26px;
}.36_632 { 
	border:5px solid rgba(0, 0, 0, 1);
}.e36_633 { 
	transform: rotate(-30.00000044529205deg);
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0.28999999165534973);
	width:210.09341430664062px;
	height:68.47239685058594px;
	position:absolute;
	left:38px;
	top:190.046875px;
}.e36_634 { 
	background-color:rgba(255, 255, 255, 1);
	width:133px;
	height:133px;
	position:absolute;
	left:86px;
	top:101px;
}.e36_635 { 
	width:132px;
	height:48px;
	position:absolute;
	left:87px;
	top:267px;
}.e36_636 { 
	width:132px;
	height:48px;
	position:absolute;
	left:0px;
	top:0px;
}.e36_637 { 
	background-image:linear-gradient(0deg, rgba(255, 255, 255, 1) 100%) ;
	-webkit-background-clip:text;
	-webkit-text-fill-color:transparent;
	-moz-background-clip:text;
	-moz-text-fill-color:transparent;
	-ms-background-clip:text;
	-ms-text-fill-color:transparent;
	width:132px;
	height:48px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Noto Sans;
	text-align:center;
	font-size:35px;
	letter-spacing:0;
}.e36_613 { 
	width:305px;
	height:370px;
	position:absolute;
	left:568px;
	top:2028px;
}.e35_499 { 
	transform: rotate(-30.00000044529205deg);
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0.28999999165534973);
	width:210.09341430664062px;
	height:68.47239685058594px;
	position:absolute;
	left:48px;
	top:190.0467529296875px;
}.e32_488 { 
	background-color:rgba(255, 255, 255, 1);
	width:133px;
	height:133px;
	position:absolute;
	left:96px;
	top:101px;
}.e32_494 { 
	width:132px;
	height:48px;
	position:absolute;
	left:97px;
	top:267px;
}.e32_495 { 
	width:132px;
	height:48px;
	position:absolute;
	left:0px;
	top:0px;
}.e32_496 { 
	background-image:linear-gradient(0deg, rgba(255, 255, 255, 1) 100%) ;
	-webkit-background-clip:text;
	-webkit-text-fill-color:transparent;
	-moz-background-clip:text;
	-moz-text-fill-color:transparent;
	-ms-background-clip:text;
	-ms-text-fill-color:transparent;
	width:132px;
	height:48px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Noto Sans;
	text-align:center;
	font-size:35px;
	letter-spacing:0;
}.e36_518 { 
	transform: rotate(-30.00000044529205deg);
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0.28999999165534973);
	width:210.09341430664062px;
	height:68.47239685058594px;
	position:absolute;
	left:48px;
	top:190.0467529296875px;
}.e36_519 { 
	background-color:rgba(255, 255, 255, 1);
	width:133px;
	height:133px;
	position:absolute;
	left:96px;
	top:101px;
}.e36_520 { 
	width:132px;
	height:48px;
	position:absolute;
	left:97px;
	top:267px;
}.e36_521 { 
	width:132px;
	height:48px;
	position:absolute;
	left:0px;
	top:0px;
}.e36_522 { 
	background-image:linear-gradient(0deg, rgba(255, 255, 255, 1) 100%) ;
	-webkit-background-clip:text;
	-webkit-text-fill-color:transparent;
	-moz-background-clip:text;
	-moz-text-fill-color:transparent;
	-ms-background-clip:text;
	-ms-text-fill-color:transparent;
	width:132px;
	height:48px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Noto Sans;
	text-align:center;
	font-size:35px;
	letter-spacing:0;
}.e36_525 { 
	background-image:linear-gradient(0deg, rgba(102.31875121593475, 51.63749635219574, 153.00000607967377, 1) 10.9375%,rgba(174.694926738739, 97.57733523845673, 251.81250303983688, 1) 64.0625%,rgba(103.94518554210663, 52.669851556420326, 155.22051572799683, 1) 98.4375%) ;
	width:305px;
	height:370px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:26px;
	border-top-right-radius:26px;
	border-bottom-left-radius:26px;
	border-bottom-right-radius:26px;
}.36_525 { 
	border:5px solid rgba(149.81249392032623, 149.81249392032623, 149.81249392032623, 1);
}.e36_526 { 
	transform: rotate(-30.00000044529205deg);
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0.28999999165534973);
	width:210.09341430664062px;
	height:68.47239685058594px;
	position:absolute;
	left:48px;
	top:190.0467529296875px;
}.e36_527 { 
	background-color:rgba(255, 255, 255, 1);
	width:133px;
	height:133px;
	position:absolute;
	left:86px;
	top:101px;
}.e36_528 { 
	width:132px;
	height:48px;
	position:absolute;
	left:97px;
	top:267px;
}.e36_529 { 
	width:132px;
	height:48px;
	position:absolute;
	left:0px;
	top:0px;
}.e36_530 { 
	background-image:linear-gradient(0deg, rgba(255, 255, 255, 1) 100%) ;
	-webkit-background-clip:text;
	-webkit-text-fill-color:transparent;
	-moz-background-clip:text;
	-moz-text-fill-color:transparent;
	-ms-background-clip:text;
	-ms-text-fill-color:transparent;
	width:132px;
	height:48px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Noto Sans;
	text-align:center;
	font-size:35px;
	letter-spacing:0;
}.e36_640 { 
	width:305px;
	height:370px;
	position:absolute;
	left:1010px;
	top:2028px;
}.e36_641 { 
	transform: rotate(-30.00000044529205deg);
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0.28999999165534973);
	width:210.09341430664062px;
	height:68.47239685058594px;
	position:absolute;
	left:48px;
	top:190.0467529296875px;
}.e36_642 { 
	background-color:rgba(255, 255, 255, 1);
	width:133px;
	height:133px;
	position:absolute;
	left:96px;
	top:101px;
}.e36_643 { 
	width:132px;
	height:48px;
	position:absolute;
	left:97px;
	top:267px;
}.e36_644 { 
	width:132px;
	height:48px;
	position:absolute;
	left:0px;
	top:0px;
}.e36_645 { 
	background-image:linear-gradient(0deg, rgba(255, 255, 255, 1) 100%) ;
	-webkit-background-clip:text;
	-webkit-text-fill-color:transparent;
	-moz-background-clip:text;
	-moz-text-fill-color:transparent;
	-ms-background-clip:text;
	-ms-text-fill-color:transparent;
	width:132px;
	height:48px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Noto Sans;
	text-align:center;
	font-size:35px;
	letter-spacing:0;
}.e36_648 { 
	transform: rotate(-30.00000044529205deg);
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0.28999999165534973);
	width:210.09341430664062px;
	height:68.47239685058594px;
	position:absolute;
	left:48px;
	top:190.0467529296875px;
}.e36_649 { 
	background-color:rgba(255, 255, 255, 1);
	width:133px;
	height:133px;
	position:absolute;
	left:96px;
	top:101px;
}.e36_650 { 
	width:132px;
	height:48px;
	position:absolute;
	left:97px;
	top:267px;
}.e36_651 { 
	width:132px;
	height:48px;
	position:absolute;
	left:0px;
	top:0px;
}.e36_652 { 
	background-image:linear-gradient(0deg, rgba(255, 255, 255, 1) 100%) ;
	-webkit-background-clip:text;
	-webkit-text-fill-color:transparent;
	-moz-background-clip:text;
	-moz-text-fill-color:transparent;
	-ms-background-clip:text;
	-ms-text-fill-color:transparent;
	width:132px;
	height:48px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Noto Sans;
	text-align:center;
	font-size:35px;
	letter-spacing:0;
}.e36_655 { 
	background-image:linear-gradient(0deg, rgba(102.31875121593475, 51.63749635219574, 153.00000607967377, 1) 10.9375%,rgba(174.694926738739, 97.57733523845673, 251.81250303983688, 1) 64.0625%,rgba(103.94518554210663, 52.669851556420326, 155.22051572799683, 1) 98.4375%) ;
	width:305px;
	height:370px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:26px;
	border-top-right-radius:26px;
	border-bottom-left-radius:26px;
	border-bottom-right-radius:26px;
}.36_655 { 
	border:5px solid rgba(149.81249392032623, 149.81249392032623, 149.81249392032623, 1);
}.e36_656 { 
	transform: rotate(-30.00000044529205deg);
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0.28999999165534973);
	width:210.09341430664062px;
	height:68.47239685058594px;
	position:absolute;
	left:48px;
	top:190.0467529296875px;
}.e36_657 { 
	background-color:rgba(255, 255, 255, 1);
	width:133px;
	height:133px;
	position:absolute;
	left:86px;
	top:101px;
}.e36_658 { 
	width:132px;
	height:48px;
	position:absolute;
	left:97px;
	top:267px;
}.e36_659 { 
	width:132px;
	height:48px;
	position:absolute;
	left:0px;
	top:0px;
}.e36_660 { 
	background-image:linear-gradient(0deg, rgba(255, 255, 255, 1) 100%) ;
	-webkit-background-clip:text;
	-webkit-text-fill-color:transparent;
	-moz-background-clip:text;
	-moz-text-fill-color:transparent;
	-ms-background-clip:text;
	-ms-text-fill-color:transparent;
	width:132px;
	height:48px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Noto Sans;
	text-align:center;
	font-size:35px;
	letter-spacing:0;
}.e36_697 { 
	box-shadow:-11px 15px 12px rgba(0, 0, 0, 0.5);
	transform: rotate(25.000001050184785deg);
	width:136px;
	height:136px;
	position:absolute;
	left:394.47607421875px;
	top:1323px;
	background-image:url(images/crown_1f451_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e36_701 { 
	border-radius:500px;
	background-color:rgba(120.06249949336052, 120.06249949336052, 120.06249949336052, 1);
	width:22px;
	height:22px;
	position:absolute;
	left:851px;
	top:1617px;
}.e58_383 { 
	width:147px;
	height:55.999755859375px;
	position:absolute;
	left:80px;
	top:20px;
}.e58_384 { 
	color:rgba(98.98958265781403, 228.4374949336052, 181.8362483382225, 1);
	width:123px;
	height:48px;
	position:absolute;
	left:24px;
	top:7.999755859375px;
	font-family:Noto Sans;
	text-align:center;
	font-size:35px;
	letter-spacing:0;
}.e58_385 { 
	transform: rotate(-30.00000044529205deg);
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0.28999999165534973);
	width:58.450008392333984px;
	height:19.049680709838867px;
	position:absolute;
	left:0px;
	top:29.225004196166992px;
}